<html>
    <head>
        <title>WEBPAGE</title>
        <link rel="stylesheet" href ="css/style.css">
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">AN</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">SERVICE</a></li>
                        <li><a href="#">DESIGN</a></li>
                        <li><a href="#">CONNTACT</a></li>
                    </ul>
                </div>
                <div class="search">
                    <input class="srch"type="search"name=" "placeholder="Type To text">
                    <a href="#"><button class="btn">search</button></a>
                </div>
                <div class="content">
                    <h1>web design & <br><span>Development</span><br>Course</h1>
                    <p class = "par">I will try for my first website.<br>
                        that website i give lot of efforts.<br>
                    while using a language of HTML & CSS.</p>
                    <button class="cn"><a href = "#">JOIN US</a></button>
                </div>
                <div class="form">
                    <h2> LOG IN HERE<input class="form-control" type="email" placeholder="Enter Email Here"><br>
                    <input class="form-control" type = "password" placeholder="Enter password here"></h2>
                    <button class="btnn"><a href="#">Login</a></button>
                    <p class="link">Dont have an account<br>
                    <a href="#">Sign up here</a></p>
                    <p class="liw">Login with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>\
                        <a href="#"><ion-icon name="logo-microsoft"></ion-icon></a>
                    </div>
                </div>
            </div>
        </div> 
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </body>
</html>