*{
    padding: 0;
    margin: 0 auto;
}
.main{
    width: 100%;
    background-image:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:#ff7200;
    font-size: 35px;
    font-family:arial;
    padding-left: 20px;
    float: left;
    padding-top:10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight:bold;
    transition: .0.4s ease-in-out; 
}
ul li a :hover{
    color: orange;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color:white;
    border-right: navy;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btn{
    width:100px;
    height: 40px;
    background-color: orange;
    border: 2px solid orange;
    margin-top: 13px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    float: left;
    width: 1200px;
    height: auto;
    margin: auto;
    top: -50px;
    color: white;
    position: relative;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 40px;
    padding-right: 80px;
    padding-bottom: 25px;   
    margin: 9%;
    letter-spacing: 2px;
}
.content.par{
    float: left;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 2.5px;
    margin: 9%;
    line-height: 30px;
}
.content.cn{
    width: 160px;
    height: 40px;
    background-color: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content.cn a{
    text-decoration: none;
    columns: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: white;
}
.content span{
    color: orange;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 80px;
    border-bottom-left-radius: 50px;
    left: 930px;
    padding-top: 70px;
    padding-left: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    padding: 35px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: black;
    margin: 2px;
    padding: 10px;
}
.form.input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form.input:focus{
    outline: none;
}
::placeholder{
    color: black;
    font-family: arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.btnn:hover{
    background: white;
    color:#ff7200
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: -20px;
    color: white;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}
.icons  a{
    text-decoration: none;
    color: white;
}
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.4s ease;
}
.icon ion-icon:hover{
    color: #ff7200;
}